body {
    background-color:#3F4E4F;
}

/* Add a dark background color to the top navigation */
.navbar {
    background-color: #2C3639;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 5px 4px #1D2426, 0px -2px 4px #1D2426;
}
  
  /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #A27B5C;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 23px;
    font-family: Calibri;
}
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: #DCD7C9;
    text-decoration: underline
  }
  
  /* Add a color to the active/current link */
  /*.navbar a.active {
    background-color: #DCD7C9;
    color: #2C3639;    
  }*/

  .expand {
    width: 100%;
    height: auto;
  }

  .paragraph-body {
    color: #DCD7C9;
    text-align:center;
  }


@media (max-width:999px) {
  .navbar-offset {
    margin-left: 0%;
  }

  .navbar a:not(:first-child) {
    display: none;      
  }

  .navbar a.icon {
    float: right;
    display: block;
    position: absolute;
    top: 2px;
    right: 8px;
    font-size: 30px
  }

  .navbar.expand a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media (min-width:1000px) {
  .navbar-offset {
      margin-left: 28%;
  }
  .navbar a {
    padding: 14px 30px;
    font-size: 23px;
    display: all;
  }
  .navbar a.icon{
    display: none;
  }
}

@media (min-width:1200px) {
  .navbar-offset {
    margin-left: 31%;
  }
}

@media (min-width:1400px) {
  .navbar-offset {
    margin-left: 34%;
  }
}

@media (min-width:1600px) {
  .navbar-offset {
    margin-left: 36.5%;
  }
}

