body {
    background-color:#352F44;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
}

hr {
  color: #FAF0E6;
  border-width: 0px;
  height: 1px;
}

/* Add a dark background color to the top navigation */
.navbar {
    background-color: #5C5470;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 4px #2D2D2D, 0px -2px 4px #2D2D2D;
    margin-bottom: 25px;
}
  
  /* Style the links inside the navigation bar */
.navbar a {
    float: left;
    color: #FAF0E6;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 26px;
    font-family: Arial;
    
}
  
  /* Change the color of links on hover */
  .navbar a:hover {
    color: #B9B4C7;
    text-decoration: underline
  }

  .window-box {
    background-color: #5C5470;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0px 5px 4px #2D2D2D, 0px -2px 4px #2D2D2D;
    position: relative;
    font-family: Arial;
  }

  .entry-box {
    background-color: #5C5470;
    width: 440px;
    height: 350px;
    margin: 2.5% ;
    overflow: hidden;
    float: left;
    border-radius: 15px;
    border-color: #5C5470;
    border-width: 3px;
    border-style: solid;
  }

  .main-window a:hover{
    background-color: #B9B4C7;
    border-color: #B9B4C7;
  }

  .main-window a{
    text-decoration: none;
  }


  .entry-box h1 {
    font-size: 20px;
    text-align: center;
    color: #DCD7C9;
    text-decoration: none;
    font-family: Arial;
  }

  .entry-box h2 {
    font-size: 15px;
    text-align: center;
    color: #DCD7C9;
    text-decoration: none;
    font-family: Arial;
  }

  .entry-box-image {
    width: 100%;    
  }

  .entry-box-divider {
    height: 60%;
    overflow: hidden;
  }

  .img-container {
    border-radius: 15px;
    overflow: hidden;
    margin-left: 5%;
    margin-right: 5%;
  }

  .window-box-body {
    margin: 20px;
  }

  .text-box {
    margin-bottom: 12%;
  }

  .text-body {
    color: #DCD7C9;
    text-align:center;
  }

 
  .footer-body{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #A27B5C;
    text-align:center;
  }

@media (max-width:999px) {

  .navbar a:not(:first-child) {
    display: none;      
  }

  .navbar a.icon {
    float: right;
    display: block;
    position: absolute;
    top: 6px;
    right: 8px;
    font-size: 30px
  }

  .navbar.expand a {
    float: none;
    display: block;
    text-align: left;
  }
  .footer-body{
    margin-left: 15%;
    margin-right: 15%;
    color: #A27B5C;
    text-align:center;
  }

  .text-box {
    font-size: 14px;
  }

}

@media (min-width:1000px) {

  .navbar {
    justify-content: center;
    display: flex;
  }

  .navbar a {
    display: all;
  }
  .navbar a.icon{
    display: none;
  }

  .footer-body{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25px;
    margin-bottom: 50px;
    color: #FAF0E6;
    text-align:center;
  }

  .main-window {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}


