:root {
  --bgcolor: #272829;
  --primcolor: #61677A; /*#F1E9D2;*/
  --seccolor: #D8D9DA;
  --textcolor: #FFF6E0; 
}

body {
    background-color:var(--bgcolor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial;
}

hr {
  background: var(--primcolor);
  border-width: 0px;
  height: 1px;
}

footer {
    margin-top: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.footer-body{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--primcolor);
    text-align: center;
    justify-content: center;   
}

.main-window {
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

