.window-box {
    background-color: var(--primcolor);
    display: flex;
    max-width: 800px;
    max-height: 525px;
    margin: 5px ;
    border-radius: 15px;
    border-color: var(--primcolor);
    border-width: 3px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    opacity: 100%;
}

/* Slider css */
.slide-window {
  justify-content: center;
  overflow: hidden;
  display: block;
  width: 100%;
  border-radius: 15px;
}

.slide-window input {
  display: all;
}


.slide-container {   
  width: 400%;
  height: 100%;
  display: flex;
}

.slide-img-container {
    overflow: hidden;
    height: 100%;
}

.slide-image{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slide-25 {
  width: 25%;
  transition: 1s;
}

/* Button control */

.navigation-manual {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 0px;
  position: absolute;
  bottom: 4px;
}

.manual-btn {
  border: 2px solid var(--seccolor);
  margin-top: 18px;
  padding: 5px;
  height: 5px;
  width: 5px;
  border-radius: 10px;
  cursor: pointer;
  vertical-align: middle;
}

.nav-btn {
  color: var(--seccolor);
  cursor: pointer;
  font-size: 30px;
  margin: 10px 0px;
}

.nav-btn:not(:first-child) {
  margin-left: 40px;
  margin-right: 15px;
}

.nav-btn:not(:last-child) {
  margin-right: 40px;
  margin-left: 15px;
}

.nav-btn:hover {
  color: var(--textcolor);
}

.manual-btn:not(:last-child) {
  margin-right: 12px;
}

.manual-btn:nth-child(2) {  
  margin-left: 12px;
}

.manual-btn:hover {
  background: var(--textcolor);
  border: 2px solid var(--textcolor);
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

#radio4:checked ~ .first {
  margin-left: -75%;
}

.manual-btn-selected {
  background: var(--seccolor);
}  

/* highlight title containers */

@keyframes titleFade {
  0% {
    opacity: 100%;
  }
  1% {
    opacity: 0%;
  }
  85% 
  {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.title-container {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  margin-top: 0px;
  z-index: 1;
  
}

.title-container h2 {
  font-size: 18px;
  width: 500;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--seccolor); 
}

/* animate title container on slide move */
.title-container .title-fade-in {
  animation-name: titleFade;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-direction: normal;
}

.title-container :not(.title-fade-in):not(.title-opacity-100) {
  opacity: 0%;
}

.title-opacity-100 {
  opacity: 100%;
}

/* svg images */

.svg-block {
  color: var(--primcolor);
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute;  
  overflow: hidden;
}

.svg-block .bottom {
  position: absolute;
  bottom: 0px;
}

.svg-block .top {
  position: absolute;
  top: 0px;
}