.project-box {
    background-color: var(--primcolor);
    max-width: 440px;
    max-height: 350px;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    border-color: var(--primcolor);
    border-width: 3px;
    border-style: solid;
    position: relative;
}

.project-box h1 {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.project-box h2 {
    font-size: 15px;
    text-align: center;
    text-decoration: none;
}

.project-box-divider {
    height: 65%;
    overflow: hidden;
}

.project-box-thumbnail {
    max-width: 100%;
    position: relative;
}

.project-tag-container {
    position: absolute;
    top: 0;
    right: 0;
}

.project-tag {
    background: var(--seccolor);
    margin: 5px;
    width: 60px;
    height: 22px;
    border-radius: 5px;
    border-width: 4px;
    border-color: transparent;
    color: var(--bgcolor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-tag h1 {
    font-size: 12px;
}